body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light background for the body */
}

nav {
    background-color: #333; /* Black background for the navigation bar */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white; /* White text for navigation links */
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #575757; /* Darker gray on hover */
}

header {
    background-color: #ccc; /* Gray background for the header */
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.cert_banner img {
    width: 100%;
    height: auto;
}

.certification {
    text-align: center;
    margin-bottom: 20px;
}

.cert_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certification img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.cert_details {
    display: inline-block;
    text-align: left;
}

.cert_date {
    font-weight: bold;
}

.cert_description {
    margin-top: 5px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .certification {
        text-align: left;
    }

    .cert_details {
        display: block;
    }
}
