body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

header {
    text-align: center;
    margin-top: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.image img {
    width: 300px; /* Adjust the width as needed */
    height: auto;
    border-radius: 10px; /* Optional: adds rounded corners */
}
