<footer>
    <div class="footer-container">
        <p class="contact-info">📍 Helsinki, Finland</p>
        <p class="contact-info">✉️<a href="mailto:s.deloddere@gmail.com">s.deloddere@gmail.com</a></p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/sean-deloddere/" target="_blank" class="social-link">
                <img src="/images/footer/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/SeanDeloddere" target="_blank" class="social-link">
                <img src="/images/footer/github.png" alt="GitHub">
            </a>
        </div>
    </div>
</footer>
