<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about_me.html">About Me</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Experience</a>
            <div class="dropdown-content">
                <a href="work_exp.html">Work Experience</a>
                <a href="other_exp.html">Volunteering</a>
                <a href="hobbies.html">Education</a>
                <a href="certs.html">Certifications</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Blog</a>
            <div class="dropdown-content">
                <a href="blog.html">Overview</a>
                <a href="blog_potests/post2.html">Latest Blog</a>
            </div>
        </li>
    </ul>
</nav>
