<nav class="hidden-nav">
    <div class="nav-container">
        <a href="#" class="logo" data-path="index.html">
            <img src="#" alt="Logo" data-path="images/logo-removebg.png">
        </a>
        <ul class="nav-menu">
            <li><a href="#" data-path="index.html">About</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Experience</a>
                <div class="dropdown-content">
                    <a href="#" data-path="work_exp.html">Work Experience</a>
                    <a href="#" data-path="volunteering.html">Volunteering</a>
                    <a href="#" data-path="education.html">Education</a>
                    <a href="#" data-path="certs.html">Certifications</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Blog</a>
                <div class="dropdown-content">
                    <a href="#" data-path="blog.html">Overview</a>
                    <a href="#" data-path="blog_posts/post2.html">Latest Blog</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
