<nav class="sticky-nav">
    <div class="nav-container">
        <a href="/index.html" class="logo">
            <img src="/images/logo-removebg.png" alt="Logo">
        </a>
        <button class="menu-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-menu">
            <li><a href="/index.html">Home</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Experience</a>
                <div class="dropdown-content">
                    <a href="/work_experience.html">Work Experience</a>
                    <a href="/volunteering.html">Volunteering</a>
                    <a href="/education.html">Education</a>
                    <a href="/certifications.html">Certifications</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Blog</a>
                <div class="dropdown-content">
                    <a href="/blog.html">Overview</a>
                    <a href="/blog_posts/story_of_aalto_salsa.html">Latest Blog</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Games</a>
                <div class="dropdown-content">
                    <a href="/factle.html">Factle</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
